.toggle {
  position: absolute;
  top: 4px;

  width: 0.75rem;
  height: 0.75rem;
  border-radius: 99999px;

  @apply bg-indigo-600 transition-all;
}

.toggle-left {
  left: 4px;
}

.toggle-right {
  left: calc(100% - 0.75rem - 4px);
  @apply bg-white;
}